<div class="task">
    <div class="task--labels">
        <div class="task--labels--label" *ngFor="let label of taskItem.labels" [ngStyle]="{'background-color': label}"></div>
    </div>
    <div class="task--name">{{taskItem.name}}</div>
    <div class="task--da">
        <div class="task--da--dueDate"><i class="far fa-calendar-alt"></i>{{taskItem.dueDate | date}}</div>
        <div class="task--da--asignees">
            <img [src]="'assets/img/' + taskItem.asignee + '.png'">
        </div>
    </div>
</div>